<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="RelationshipsEntities" connectionString="metadata=res://*/Relationships.csdl|res://*/Relationships.ssdl|res://*/Relationships.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TheDanimal\SQLEXPRESS;initial catalog=Relationships;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RelationshipsEntities1" connectionString="metadata=res://*/Relationships.csdl|res://*/Relationships.ssdl|res://*/Relationships.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TheDanimal\SQLEXPRESS;initial catalog=Relationships;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
     
  </connectionStrings>
</configuration>